body{
  background: url('https://i.stack.imgur.com/jGlzr.png') no-repeat;
   background-size: cover;
   height: 25vh;
   font-family: monospace, Helvetica, Verdana, Geneva, sans-serif;
   font-size: 16px;
}
#pagewrap{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

/* main header */

#main, nav{
  margin: 1%;
}

#main{
  width: 100%;
  height: auto;
  margin: 0 auto 2% auto;
  background-position: 50% 20%;
  padding-top: 30vh;
  padding-bottom: 50vh;
  text-align: center;
}

nav{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #222;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 2%;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

/* an underline appears at the bottom on hover of each link */
nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}
/* end of navigation section*/

.myBrand {
	font-family: cursive;
	font-size: 78px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 35px;
  box-sizing: border-box;
  display: inline-block;
}
