<div>
  <div id="main">
    <img src="./img/IMG_2122.jpg" alt="Photo of Sean" class="aboutImg">
    <h3><i>About:</i></h3><br>
    <p class="aboutTag">Twin Cities-based Web Developer who enjoys creating the
environment in which the user will be seeing and using by putting together both design sensibilities and technical
skills.</p><br><br>
    <p class="aboutTag">When I was 19 years old, I decided to embark on a trip to Central America.  I had traveled before
    but only in North America and the Caribbean.  I went fourth with this idea and enrolled into a Spanish immersion school
    located in Antigua, Guatemala.  I always felt like I had a passion for langauges but had never really gave it a full effort.
    I ended up staying at this immersion school for about 7 months, and then continuing with my travels knowing that the langauge
    barrier that once existed, was now gone.  I ended up traveling through several countries like Mexico, Colombia, Dominican Republic and
    lived in Brazil for 10 months.  After this, I ended up going home because I knew I did not want to teach English nor bartend
    for the rest of my life.  So I started thinking of what I could do for a living.  Knowing how much I love languages, I came across
    Developing.  Took some free online classes and really started to like it.  It was very similar to learning another language, instead
    it is not spoken.  After taking a couple classes I enrolled in a Full Stack Development boot camp in Minneapolis and started learning
    the same way I learned Spanish.</p>
  </div>
</div>
